.hidden-container{

    width: 100%;
    display: flex;
    height: 6%;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    margin-top: 5px;
}
.hidden-box{

    width:100%;
    height: 30%;
    

}
.hidden-box form{

    
    border-radius: 28px;
    border: 2px solid #312d3c;
    

}

.hidden-box input[type=search]{
    background: #201c29;
    border: 0;
    min-width: 0;
    font-size: 14px;
    width:90%;
    color: #fff;
    padding: .5rem 1rem;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
.hidden-submit{

    border: 0;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: linear-gradient(90deg,#ff8a00,#e52e71);
    width: 10%;
    padding: 0.5rem 0rem;
    cursor: pointer;
    outline: none;
    
}

@media(max-width:1188px){

        .hidden-container{

            display: block;


        }


}